
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}

#navbar {
    font-size: 16px;
}

.footer {
    background-color: #4e5d6c;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin-top: 5px;
    text-align: center;
}
.footer > .container p {
    color: #ebebeb;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#listSocial {
    text-align: center;
    margin-bottom: 0;
}

#listSocial > li i {
    font-size: 1.3em;
    color: #ebebeb;
}

#listSocial i:hover {
    color: #df691a;
}

#mediaIndex {
    margin-bottom: 10px;
}

#learnMore {
    display: none;
    font-size: 18px;
}

#skillPanelHead {
    font-size: 20px;
}

.fa-star,
.fa-star-o,
.fa-star-half-empty {
    color: #FFD203;
}

#listProgLang {
    font-size: 17px;
    margin-top: 20px;
}

/* Tabs on left */
.tabs-left > .nav-pills {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-pills > li {
    float: none;
}

.tabs-left > .nav-pills > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-pills {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #df691a;
}

.tabs-left > .nav-pills > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-pills > li > a:hover,
.tabs-left > .nav-pills > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #df691a;
    text-decoration: none;
}

.tabs-left > .nav-pills .active > a,
.tabs-left > .nav-pills .active > a:hover,
.tabs-left > .nav-pills .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}
