
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}

a {
    color: #f2aa1a;
    text-decoration: none;
}

#navbar {
    font-size: 16px;
}

.footer {
    background-color: #4e5d6c;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin-top: 5px;
    text-align: center;
}

.footer > .container p {
    color: #ebebeb;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#img_me {
    height: 190px;
    min-width: 169px;
}

#listSocial {
    text-align: center;
    margin-bottom: 0;
}

#listSocial > li i {
    font-size: 1.3em;
    color: #ebebeb;
}

#listSocial i:hover {
    color: #df691a;
}

#mediaIndex {
    margin-bottom: 10px;
}

.panel-heading {
    font-size: 20px;
}

.expLabel {
    font-weight: bold;
    margin-right: 10px;
}

.listExp > li {
    margin-bottom: 5px;
}

.fa-star,
.fa-star-o,
.fa-star-half-empty {
    color: #FFD203;
}

.list_skills {
    font-size: 17px;
    margin-top: 20px;
}

#githubAvatar {
    width: 85px;
}

#listGithub > li > h4 {
    text-align: center;
}

.control-label {
    font-size: 15px;
}

#contactJumbotron {
    float: none;
}

#alertResult p {
    text-align: center;
}

#panel_error {
    float: none;
}

.col-rating {
    padding-top: 9px;
}

.control-label-rating {
    text-align: left;
}

/* Tabs on left */
#panelSkills > .nav-pills {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

#panelSkills > .nav-pills > li {
    float: none;
}

#panelSkills > .nav-pills > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

#panelSkills > .nav-pills {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #df691a;
}

#panelSkills > .nav-pills > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

#panelSkills > .nav-pills > li > a:hover,
#panelSkills > .nav-pills > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #df691a;
    text-decoration: none;
}

#panelSkills > .nav-pills .active > a,
#panelSkills > .nav-pills .active > a:hover,
#panelSkills > .nav-pills .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

/* for mobile device */
@media screen and (min-width: 200px) and (max-width: 640px) {
    #mediaIndex .media-left {
        display: block;
    }
    #mediaIndex .media-body {
        width: auto;
    }

    #panelSkills > .nav-pills {
        float: none;
        margin-right: 0;
        border-right: 0;
    }

    #panelSkills > .nav-pills > li > a {
        margin-bottom: 0;
    }

    #panelSkills > .nav-pills > li {
        float: left;
    }

    #panelSkills > .nav-pills > li > a {
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
    }

    #myTab {
        margin-bottom: 15px;
    }

    #panelSkills > .nav-pills {
        border-bottom: 1px solid #df691a;
        padding-bottom: 10px;
    }
}