.navbar-shadow {
  box-shadow: 0 2px 0 0 var(--light);
}

.navbar-nav .nav-link {
  color: var(--grey);
}

.nav-item {
  border-bottom: 1px solid transparent;
}

.nav-item.active,
.nav-item:hover {
  border-bottom-color: var(--blue);
}

.nav-item.active > .nav-link,
.nav-item:hover > .nav-link {
  color: var(--blue);
}

.navbar-shadow .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle box-icon {
  vertical-align: baseline;
}

.dropdown-item span {
  vertical-align: middle;
}

@-webkit-keyframes tada
{
    from
    {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }

    10%,
    20%
    {
      -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
              transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90%
    {
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80%
    {
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    }

    to
    {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}

@keyframes tada
{
    from
    {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }

    10%,
    20%
    {
      -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
              transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90%
    {
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80%
    {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
              transform: rotate3d(0, 0, 1, -10deg);
    }

    to
    {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}

.bx-tada-hover:hover {
  -webkit-animation: tada 1.5s ease infinite;
          animation: tada 1.5s ease infinite;
}

@media (min-width: 240px) {
  .nav-item {
    text-align: center;
  }

  .btn-change-local {
    display: block;
    width: 100%;
  }
}
